#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main-bg {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: white;
  }
}

