#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main-bg {
  background-color: white;
}

.main-bg-dark {
  color: white !important;
}

